<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6be2c3">  <td>21/03/14 11:13:54</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;O2MTest.Initialization()[pri:0, instance:TestCases.O2MTest@7ea37dbf]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990098664</td>   <td></td> </tr>
<tr bgcolor="6be2c3">  <td>21/03/14 11:13:57</td>   <td>3120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="O2MTest.O2MLogin()[pri:0, instance:TestCases.O2MTest@7ea37dbf]">O2MLogin</td> 
  <td>main@1990098664</td>   <td></td> </tr>
</table>
